h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

html,
body,
ul,
li,
p,
a {
  margin: 0;
  padding: 0; }

html,
body {
  height: 100%; }

body {
  background: #eee;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px; }

.nav {
  text-transform: uppercase; }
  @media screen and (max-width: 550px) and (min-width: 320px) {
    .nav {
      display: none;
      background-color: #0075ff; } }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style: none;
    margin: 0 120px; }
    @media screen and (max-width: 800px) {
      .nav__list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        position: relative;
        top: 100px; } }
  .nav__item {
    padding: 8px 24px;
    color: white; }
    .nav__item_active {
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 8px; }
      @media screen and (max-width: 550px) and (min-width: 320px) {
        .nav__item_active {
          background-color: transparent; } }
  .nav__link {
    color: white;
    text-decoration: none;
    -webkit-transition: color 300ms, background-color 300ms;
    transition: color 300ms, background-color 300ms; }
    .nav__link:hover {
      color: #9fadc2; }

.header {
  height: 700px;
  background-image: url(../images/upd/header-new.png);
  background-size: cover;
  background-position: center;
  position: relative;
  min-width: 320px; }
  .header__nav {
    position: absolute;
    bottom: 48px;
    left: 0;
    right: 0; }
  .header__top {
    position: absolute;
    top: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    left: 120px;
    right: 120px;
    color: white; }
  .header__phone {
    margin-top: 32px; }
    .header__phone a {
      text-decoration: none;
      color: white; }
    @media screen and (max-width: 550px) and (min-width: 320px) {
      .header__phone {
        display: none; } }
  .header__phone-small-screen {
    display: none;
    width: 18px;
    height: 18px;
    background-image: url(../images/small-screen-phone.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 15px; }
    @media screen and (max-width: 550px) and (min-width: 320px) {
      .header__phone-small-screen {
        display: block; } }
  .header__logo {
    width: 115px;
    height: 76px;
    background-image: url(../images/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 99; }
    @media screen and (max-width: 550px) and (min-width: 320px) {
      .header__logo {
        width: 73px;
        height: 48px; } }
  .header__action {
    margin-top: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .header__action .header__link {
      color: white;
      text-decoration: none;
      padding-bottom: 8px;
      border-bottom: 1px solid white;
      -webkit-transition: color 300ms, border-bottom 300ms;
      transition: color 300ms, border-bottom 300ms; }
      .header__action .header__link:hover {
        color: #9fadc2;
        border-bottom: 1px solid #9fadc2; }
      @media screen and (max-width: 550px) and (min-width: 320px) {
        .header__action .header__link {
          display: none; } }
    .header__action .hamburger {
      position: relative; }
    .header__action .hamburger-logo {
      display: none; }
      @media screen and (max-width: 550px) and (min-width: 320px) {
        .header__action .hamburger-logo {
          display: block;
          position: absolute;
          bottom: 15px; } }
  .header .hamburger-checkbox {
    display: none; }
    @media screen and (max-width: 550px) and (min-width: 320px) {
      .header .hamburger-checkbox:checked + .nav {
        display: block;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0; } }
  .header__text {
    position: absolute;
    bottom: 165px;
    left: 120px;
    letter-spacing: -1.5px;
    font-size: 60px;
    color: white; }
    .header__text::before {
      content: "";
      width: 35px;
      height: 2px;
      background-color: white;
      position: absolute;
      top: -16px; }
    @media screen and (max-width: 800px) {
      .header__text {
        position: absolute;
        bottom: 300px; } }
    @media screen and (max-width: 550px) and (min-width: 320px) {
      .header__text {
        bottom: 80px;
        left: 20px; } }

/*# sourceMappingURL=main.css.map */
